<template>
	<div>
	
		<div class="row">
      <div class="col">
        <h2>Add A Widget</h2>
        <hr />
      </div>
    </div>

		<div class="row">

			<div class="col-md">
				<div class="input-group mt-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Name</span>
					</div>
					<input type="text" class="form-control" v-on:keyup.enter="createWidget"  v-model="widget.name" />
				</div>
				
				<div class="input-group mt-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Color</span>
					</div>
					<select class="form-control" v-model="widget.color">
						<option v-for="c in colors" :value="c.value" :key="c.value">{{c.label}}</option>
					</select>
				</div>
				
				<div class="input-group mt-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Value</span>
					</div>
					<input type="number" class="form-control" v-on:keyup.enter="createWidget"  v-model="widget.value" />
				</div>

				<div class="row justify-content-end">
					<div class="col-md-6 mt-3 text-md-right">
						<button type="button" :class="{ 'btn-block': isMobile }" 
										class="btn btn-primary"
										@click="createWidget">
						Create
						</button>
					</div>
				</div>

			</div>
		</div>

	</div>
</template>

<script>
export default {
  data () {
    return {
			widget: {
				name: "",
				color: "red",
				value: ""
			},
			colors: [],
			isMobile: false
		}
  },
  props: [],
  mounted: function() {
    //called on launch
		this.generateColors()
		this.checkWidth()
  },
  methods: {
		createWidget: async function() {
			//convert value to an integer amount based on cents
			this.widget.value = this.$helpers.encodeCents(this.widget.value)

			//ajax request
			let url = this.$helpers.api() + '/widget/create'
			let res = await this.$helpers.postData(url,this.widget)
			.catch(e => {console.log(e.message)})

			//bubble up finished message
			this.finishAdding()
		},

		finishAdding: function() {
			this.$emit("widget-added")
			this.widget= {
				name: "",
				color: "red",
				value: ""
			}
		},

		generateColors: function() {
			this.colors.push(this.addListValue("Red", "red"))	
			this.colors.push(this.addListValue("Blue", "blue"))	
			this.colors.push(this.addListValue("Yellow", "yellow"))	
			this.colors.push(this.addListValue("Green", "green"))	
			this.colors.push(this.addListValue("Purple", "purple"))	
			this.colors.push(this.addListValue("Orange", "orange"))	
		},

		addListValue: function(label,value) {
      let mType = {}
      mType.label = label
      mType.value = value
      return mType
		},

		checkWidth: function() {
			if (this.$helpers.pageSize() > 768) {
				this.isMobile = false
			} else {
				this.isMobile = true
			}
		}
	}
}

</script>

<style>
</style>
