<template>
  <div>

    <div class="row">
      <div class="col">
        <h2>Widget List</h2>
				<hr />
      </div>
    </div>

    <!-- show selected widget -->
    <div class="row">
      <div class="col mb-3 mt-2">
        <div v-if="selectedWidget.name" class="text-dark">
        <i class="material-icons text-warning">done</i> {{selectedWidget.name}}
        </div>
        <div v-else class="text-danger">No widget selected</div>
      </div>
    </div>

    <!-- search area -->
    <div class="row mb-3">
			<select class="form-control col-md-2" style="margin: 0 15px 0 15px;" v-model="searchType"> 
					<option value="name">Name</option>
					<option value="color">Color</option>
			</select>

      <div class="col-md-6">
        <input type="search" v-model="searchValue" v-on:keyup.enter="getWidgets" class="form-control" />
      </div>
      <div class="col">
        <button class="form-control btn btn-secondary" @click="getWidgets">Search</button>
      </div>
    </div>

    <!-- list of widgets -->
    <div class="row" style="padding: 0 15px 0 15px;">
      <div class="col">
        <div v-for="w in widgets" :key="w.id">
					<div class="row">
						<div class="col-10 bg-secondary p-2 mb-2 text-light box-style show-cursor" @click="chooseWidget(w.id, w.name)">{{w.name}} - {{w.color}} - ${{w.value}}</div>
						<div class="col-2 bg-danger p-2 mb-2 text-light box-style show-cursor text-center" @click="deleteWidget(w.id)">delete</div>
					</div>
				</div>
      </div>
    </div>

  </div>
</template>

<script>

export default {
  data () {
    return {
      widgets: [],
      selectedWidget: {
        id: "",
        name: "",
				color: "",
				value: "",
				date_modified: ""
      },
      searchType: "name",
			searchValue: ""
    }
  },
  props: [],
  mounted: function() {
    this.getWidgets()
  },
  methods: {
    getWidgets: async function() {
      //reset list
      this.widgets = []

      let req = {}
			
			if (this.searchType === "color") {
				req.color = this.searchValue 
			} else {
				req.name = this.searchValue
			}
			
			//ajax request
			let url = this.$helpers.api() + '/widget'
			let res = await this.$helpers.postData(url,req)
			.catch(e => {console.log(e.message)})

			this.setWidgetList(res)
    },
		
		deleteWidget: async function(id) {
      let req = {}
      req.id = parseInt(id, 10)
      
			//ajax request
			let url = this.$helpers.api() + '/widget/delete'
			let res = await this.$helpers.postData(url,req)
			.catch(e => {console.log(e.message)})

			this.getWidgets()
		},

    setWidgetList: function(data) {
      //add widgets from request to list on screen
      for (var i=0; i<data.length; i++) {
        let widget = {}
        widget.id = String(data[i]["id"])
        widget.name = data[i]["name"]
        widget.color = data[i]["color"]
        widget.value = this.$helpers.parseCents(data[i]["value"])
        widget.date_modified = data[i]["date_modified"]
        this.widgets.push(widget)
      }

			//reset search vars
			this.searchValue = ""
    },

    chooseWidget: function(id, name) {
      this.selectedWidget.id = id
      this.selectedWidget.name = name
      this.$emit("choose-widget", id)
    }
  }
}

</script>

<style scoped>

  .box-style:hover {
    opacity: 0.8;
  }

</style>
