<template>
  <div>
    Footer Menu
  </div>
</template>

<script>

export default {
  data () {
    return {}
  },
  props: [],
  mounted: function() {
    //called on launch
  },
  methods: {}
}

</script>

<style>
</style>
