<!-- basic template for most components -->
<template>
	<div>
		<div class="mt-5 mb-5">
			<h1>Go / Vue Template</h1>
		</div>

		<div class="mb-3">
			<router-link to="/" class="link mr-3">Home</router-link>		
			<router-link to="/about" class="link">About</router-link>		
		</div>
	</div>
</template>

<script>

export default {
    components: {},
  data () {
    return {}
  },
  props: [],
  mounted: function() {
    //called on launch
  },
  methods: {}
}

</script>

<style>
.link {
	color: var(--light);
	font-size: 1.25rem;
}
</style>
