<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->

    <div class="container-fluid">
      <div class="row justify-content-center bg-dark">
        <div class="col width-1140 ie-flex-col">
          <top-menu class="text-regular text-light"></top-menu>
        </div>
      </div>
    </div>

    <div class="container main-contain-reg">
      <div class="row justify-content-center main-contain-inner">
        <div class="col bg-light">
          <router-view class="mt-4" />
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center footer-container bg-dark text-light">
        <div class="col width-1140 ie-flex-col">
          <footer-menu class="text-regular"></footer-menu>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import TopMenu from '@/components/menu/TopMenu.vue'
import FooterMenu from '@/components/menu/FooterMenu.vue'

export default {
  components: {
    TopMenu,
    FooterMenu
  },
  data () {
    return {}
  },
  methods: {
  } 
}
</script>

<style>
.width-1140 {
  width: 100%;
  max-width: 1140px;
}

.main-contain-reg > div {
  min-height: 900px;
  padding-top: 0px;
}

.main-contain-inner {
  margin-bottom: 24px;
}
</style>


