<template>
  <div class="row">
    <create-widget v-on:widget-added="updateWidgets" class="col-md-6 mt-5" />
		<list-widgets ref="list" class="col-md-6 mt-5" />
  </div>
</template>

<script>
import CreateWidget from '@/components/CreateWidget.vue'
import ListWidgets from '@/components/ListWidgets.vue'

export default {
	components: {
		CreateWidget,
		ListWidgets
	},
	data () {
		return {}
	},
	methods: {
		updateWidgets: function() {
			//call function on ListWidgets
			this.$refs.list.getWidgets()
		}
	}

}
</script>
